<a href="https://colab.research.google.com/github/sathizz7/Car-price-data/blob/main/Car_price_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [937]:
import pandas as pd
import numpy as np

In [938]:
data = pd.read_csv('cars_price.csv')

In [939]:
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.4,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.4,8.0,115,5500,18,22,17450

In [940]:
remove = ['fuel-type','num-of-doors','drive-wheels','engine-location','make','highway-mpg']

In [941]:
data['city-mpg'].unique()

array([21, 19, 24, 18, 17, 16, 23, 20, 15, 47, 38, 37, 31, 49, 30, 27, 25,
       13, 26, 36, 22, 14, 45, 28, 32, 35, 34, 29, 33])

In [942]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [943]:
data.shape

(205, 26)

In [944]:
data.isnull().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [945]:
data.describe()

,symboling,wheel-base,length,width,height,curb-weight,engine-size,compression-ratio,city-mpg,highway-mpg
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.907805,53.724878,2555.565854,126.907317,10.142537,25.219512,30.751220
std,1.245307,6.021776,12.337289,2.145204,2.443522,520.680204,41.642693,3.972040,6.542142,6.886443
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,7.000000,13.000000,16.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,8.600000,19.000000,25.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,9.000000,24.000000,30.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,9.400000,30.000000,34.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,23.000000,49.000000,54.000000

In [946]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak-rpm           205 non-null    object
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

Missing values

In [947]:
#X = data.iloc[:,0:-1]
#y = data.iloc[:,-1]

In [948]:
data['normalized-losses'] = data['normalized-losses'].replace ('?', np.nan)

In [949]:
data['normalized-losses']

0      NaN
1      NaN
2      NaN
3      164
4      164
      ...
200     95
201     95
202     95
203     95
204     95
Name: normalized-losses, Length: 205, dtype: object

In [950]:
#convert into numeric

In [951]:
data['normalized-losses'] = pd.to_numeric(data['normalized-losses'], errors = 'coerce')

In [952]:
data['stroke'] = pd.to_numeric(data['stroke'], errors = 'coerce')
data['horsepower'] = pd.to_numeric(data['horsepower'], errors = 'coerce')
data['peak-rpm'] = pd.to_numeric(data['peak-rpm'], errors = 'coerce')
data['bore'] = pd.to_numeric(data['bore'], errors = 'coerce')

In [953]:
data['price'] = pd.to_numeric(data['price'], errors = 'coerce')

In [954]:
data['normalized-losses'] = data['normalized-losses'].fillna(data['normalized-losses'].mean())

In [955]:
data['symboling'] = data['symboling'].replace((-1,-2), np.nan)
data['bore'] = data['bore'].replace('?', np.nan)
data['peak-rpm'] = data['peak-rpm'].replace('?', np.nan)
data['horsepower'] = data['horsepower'].replace('?', np.nan)
data['stroke'] = data['stroke'].replace('?', np.nan)
data['price'] = data['price'].replace('?', np.nan)

In [956]:
data['symboling'] = data['symboling'].fillna(data['symboling'].median())   
data['bore'] = data['bore'].fillna(data['bore'].mean())
data['peak-rpm'] = data['peak-rpm'].fillna(data['peak-rpm'].mean())
data['horsepower'] = data['horsepower'].fillna(data['horsepower'].mean())
data['stroke'] = data['stroke'].fillna(data['stroke'].mean())
data['price'] = data['price'].fillna(data['price'].mean())

In [957]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    float64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    float64
 19  stroke             205 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    float64
 22  peak-rpm           205 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    float64
dtypes: float64(12), int64(4), object(10)
memory usage: 41.8+ KB

In [958]:
data

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3.0,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,3.0,122.0,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,1.0,122.0,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,2.0,164.0,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,2.0,164.0,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1.0,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,1.0,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,1.0,95.0,volvo,gas,std,four,sedan,rwd,front,109.1,...,173,mpfi,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,1.0,95.0,volvo,diesel,turbo,four,sedan,rwd,front,109.1,...,145,idi,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,1.0,95.0,volvo,gas,turbo,four,sedan,rwd,front,109.1,...,141,mpfi,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [959]:
data['num-of-cylinders'].unique()

array(['four', 'six', 'five', 'three', 'twelve', 'two', 'eight'],
      dtype=object)

In [960]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    float64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num-of-doors       205 non-null    object
 6   body-style         205 non-null    object
 7   drive-wheels       205 non-null    object
 8   engine-location    205 non-null    object
 9   wheel-base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb-weight        205 non-null    int64
 14  engine-type        205 non-null    object
 15  num-of-cylinders   205 non-null    object
 16  engine-size        205 non-null    int64
 17  fuel-system        205 non-null    object
 18  bore               205 non-null    float64
 19  stroke             205 non-null    float64
 20  compression-ratio  205 non-null    float64
 21  horsepower         205 non-null    float64
 22  peak-rpm           205 non-null    float64
 23  city-mpg           205 non-null    int64
 24  highway-mpg        205 non-null    int64
 25  price              205 non-null    float64
dtypes: float64(12), int64(4), object(10)
memory usage: 41.8+ KB

In [961]:
data.shape

(205, 26)

In [962]:
remove = ['fuel-type','num-of-doors','drive-wheels','engine-location','highway-mpg']

In [963]:
data.drop(remove, axis = 1, inplace = True),

(None,)

In [964]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    float64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   aspiration         205 non-null    object
 4   body-style         205 non-null    object
 5   wheel-base         205 non-null    float64
 6   length             205 non-null    float64
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   curb-weight        205 non-null    int64
 10  engine-type        205 non-null    object
 11  num-of-cylinders   205 non-null    object
 12  engine-size        205 non-null    int64
 13  fuel-system        205 non-null    object
 14  bore               205 non-null    float64
 15  stroke             205 non-null    float64
 16  compression-ratio  205 non-null    float64
 17  horsepower         205 non-null    float64
 18  peak-rpm           205 non-null    float64
 19  city-mpg           205 non-null    int64
 20  price              205 non-null    float64
dtypes: float64(12), int64(3), object(6)
memory usage: 33.8+ KB

In [965]:
data['fuel-system'].nunique()

8

In [966]:
#OHE

In [967]:
lis = ['make','aspiration','body-style','engine-type','num-of-cylinders','fuel-system']

In [968]:
from sklearn.preprocessing import OneHotEncoder

In [969]:
ohe = OneHotEncoder(sparse=False)

In [970]:
X_ohe = ohe.fit_transform(data[lis])

In [971]:
X_ohe = pd.DataFrame(X_ohe)

In [972]:
X_ohe

,0,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
201,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
202,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
203,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
204,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [973]:
data.drop(lis, axis = 1, inplace = True)

In [974]:
data

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,price
0,3.0,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,13495.0
1,3.0,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,16500.0
2,1.0,122.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,16500.0
3,2.0,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,13950.0
4,2.0,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1.0,95.0,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114.0,5400.0,23,16845.0
201,1.0,95.0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160.0,5300.0,19,19045.0
202,1.0,95.0,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134.0,5500.0,18,21485.0
203,1.0,95.0,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106.0,4800.0,26,22470.0
204,1.0,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114.0,5400.0,19,22625.0

In [975]:
data.reset_index(drop = True , inplace = True)
X_ohe.reset_index(drop = True, inplace = True)

In [976]:
data = pd.concat([data, X_ohe], axis = 1)

In [977]:
data

,symboling,normalized-losses,wheel-base,length,width,height,curb-weight,engine-size,bore,stroke,...,41,42,43,44,45,46,47,48,49,50
0,3.0,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,3.0,122.0,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
2,1.0,122.0,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
3,2.0,164.0,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
4,2.0,164.0,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,1.0,95.0,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
201,1.0,95.0,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
202,1.0,95.0,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
203,1.0,95.0,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
204,1.0,95.0,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0

In [978]:
#drop = ['price','symboling','normalized-losses']

In [979]:
X = data.drop('price', axis =1)
y = data['price']

In [980]:
from sklearn.model_selection import train_test_split

In [981]:
Xtrain,Xtest,ytrain, ytest = train_test_split(X,y, test_size = 0.2,random_state=2)

In [982]:
Xtrain.shape

(164, 65)

In [983]:
Xtest.shape

(41, 65)

In [984]:
ytrain

71     34184.000000
9      13207.129353
118     5572.000000
174    10698.000000
146     7463.000000
           ...
43      6785.000000
22      6377.000000
72     35056.000000
15     30760.000000
168     9639.000000
Name: price, Length: 164, dtype: float64

In [985]:
ytrain.reset_index(drop = True, inplace = True)

In [986]:
ytest.reset_index(drop = True, inplace = True)

In [987]:
ytrain

0      34184.000000
1      13207.129353
2       5572.000000
3      10698.000000
4       7463.000000
           ...
159     6785.000000
160     6377.000000
161    35056.000000
162    30760.000000
163     9639.000000
Name: price, Length: 164, dtype: float64

In [988]:
from sklearn.preprocessing import StandardScaler

In [989]:
SS = StandardScaler()
SS.fit_transform(Xtrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

array([[-0.06827822,  0.07488611,  2.69986952, ...,  1.10282193,
        -0.22645541, -0.07832604],
       [-1.08624435,  0.07488611,  0.10939186, ...,  1.10282193,
        -0.22645541, -0.07832604],
       [-0.06827822, -0.02284324, -0.8238237 , ..., -0.9067647 ,
        -0.22645541, -0.07832604],
       ...,
       [ 1.96765406,  0.72641514, -0.35721592, ...,  1.10282193,
        -0.22645541, -0.07832604],
       [-1.08624435,  0.07488611,  0.75298879, ...,  1.10282193,
        -0.22645541, -0.07832604],
       [ 0.94968792,  0.46580353, -0.0675973 , ...,  1.10282193,
        -0.22645541, -0.07832604]])

#Modeling

In [990]:
from sklearn.linear_model import LinearRegression

In [991]:
lr = LinearRegression()

In [992]:
lr.fit(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

LinearRegression()

In [993]:
lr.score(Xtrain, ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

0.9731270460675193

In [994]:
lr.score(Xtest, ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

0.30819039145009075

In [995]:
ypred = lr.predict(Xtest)
ypred

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

array([ 6871.52215707, 13445.20686376, 10078.57472972, 21064.46610405,
       16211.50029832,  7177.74400631,  8511.36016237,  8826.60632995,
        8581.38567391,  9784.66432122, 15610.69249077,  7656.96173967,
        9724.33791694, 25139.84215016, 33781.91867497,  6760.21081428,
        7520.58624436,  8108.26491055, 33557.89445551,  6390.70900565,
        9305.19156214,  6712.90474487, 20206.20983187, 25025.29503787,
        9811.95063456, -8504.1580319 ,  6956.34624845,  9937.28223565,
       14079.83256924, 13563.82236911, 11405.41337384, 11189.50375928,
        5540.09240251, 28632.20166056,  6965.25370629, 19414.72925494,
       18219.81811696, 19535.93138514, 11633.10741305,  8540.08073233,
       18193.75161131])

In [996]:
from sklearn.metrics import mean_squared_error

In [997]:
mean_squared_error(ytest, ypred)

23874664.40750308

In [998]:
from sklearn.metrics import r2_score

In [999]:
r2_score(ytest,ypred)

0.30819039145009075

In [1000]:
#import seaborn as sns
#import matplotlib.pyplot as plt

-------------

In [1001]:
from sklearn.linear_model import Ridge

In [1002]:
rid = Ridge()
rid.fit(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

Ridge()

In [1003]:
rid.score(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

0.9560894465275744

In [1004]:
rid.score(Xtest,ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

0.6933555769240624

In [1005]:
from sklearn.linear_model import Lasso

In [1006]:
las = Lasso()
las.fit(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_coordinate_descent.py:648: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.643e+08, tolerance: 1.121e+06
  coef_, l1_reg, l2_reg, X, y, max_iter, tol, rng, random, positive

Lasso()

In [1007]:
las.score(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

0.9727331185517807

In [1008]:
las.score(Xtest,ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

0.5224865726944238

In [1009]:
from sklearn.linear_model import ElasticNet

In [1010]:
en =ElasticNet()
en.fit(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

ElasticNet()

In [1011]:
print(en.score(Xtrain,ytrain))
print(en.score(Xtest,ytest))

0.851639186710377
0.5699274298700233

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [1012]:
from sklearn.linear_model import SGDRegressor

In [1013]:
sgd = SGDRegressor()
sgd.fit(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

SGDRegressor()

In [1014]:
sgd.intercept_

array([-3.86798407e+09])

In [1015]:
sgd.coef_

array([ 1.25185738e+11,  2.03263465e+12, -5.72666955e+11, -1.37515999e+12,
       -2.36008868e+11, -5.70408947e+11,  2.09598292e+11,  6.50293909e+11,
       -3.53010460e+10, -3.94736927e+10,  1.05495834e+11,  2.53567680e+12,
       -1.16478407e+11,  7.41784090e+09,  8.16441409e+09, -1.93308831e+10,
        1.75528637e+10,  3.96827782e+09,  6.32208194e+09,  1.31838971e+10,
        8.84225626e+09, -4.83288235e+07, -2.57844939e+10,  8.33132739e+07,
        1.92114071e+09,  1.43590736e+10,  1.10119586e+10, -8.71010010e+09,
        2.63137393e+10, -3.29072210e+09, -1.15542465e+10, -4.76860932e+09,
       -4.22248829e+10, -9.29792523e+09, -4.27068179e+10,  5.21271817e+10,
       -4.21692610e+10,  3.83024491e+10,  7.84191187e+09, -2.18759377e+10,
        4.41606511e+10, -3.84676279e+10,  4.47419071e+09, -1.17146243e+10,
       -4.39589726e+09, -8.71010010e+09,  2.31355829e+10, -3.99375969e+10,
        3.35213729e+10,  4.23445081e+09, -3.23068914e+09, -2.58968248e+10,
       -2.00443101e+10,  2.92286162e+10,  0.00000000e+00,  1.18419452e+10,
        4.23445081e+09,  8.75754930e+09,  4.24505754e+10, -6.67036667e+09,
        6.43254288e+09,  0.00000000e+00, -4.87477942e+10, -1.48876007e+10,
        8.79828202e+09])

In [1016]:
sgd.score(Xtest,ytest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

-2.158750247681021e+21

In [1017]:
ypred = sgd.predict(Xtest)
ypred

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

array([-4.76763514e+12,  4.11671620e+14,  7.63721467e+13,  1.96667997e+14,
        1.71098837e+14, -4.11271952e+13,  2.65623955e+14,  2.49224756e+14,
        2.12477737e+13,  1.15871389e+14,  4.34323332e+14, -4.36037644e+13,
        4.78015862e+13,  5.33556830e+14,  2.58614236e+14, -2.50418482e+13,
        1.55444406e+14, -1.26708650e+14,  4.62288655e+14, -9.29616929e+12,
        5.45104190e+13, -5.69961083e+13,  2.70543369e+14,  5.22028924e+14,
        1.27694494e+14, -1.62649611e+14, -1.86933696e+13,  9.67885373e+13,
        3.82595969e+14,  4.12736144e+14,  7.79867608e+13,  1.66557760e+14,
        2.91963029e+12,  4.40915938e+14, -6.42068628e+13,  5.82256645e+14,
        2.86332006e+14,  5.90633159e+14,  1.49762516e+14, -3.50372017e+13,
        3.41930928e+14])

In [1018]:
from sklearn.tree import DecisionTreeRegressor

In [1019]:
Dt = DecisionTreeRegressor(max_depth=5,min_samples_leaf= 4,min_samples_split= 4,random_state=3)

In [1020]:
Dt.fit(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

DecisionTreeRegressor(max_depth=5, min_samples_leaf=4, min_samples_split=4,
                      random_state=3)

In [1021]:
print(Dt.score(Xtrain,ytrain))
print(Dt.score(Xtest, ytest))

0.933803832730187
0.7008697949609322

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [1022]:
Xtrain.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 164 entries, 71 to 168
Data columns (total 65 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          164 non-null    float64
 1   normalized-losses  164 non-null    float64
 2   wheel-base         164 non-null    float64
 3   length             164 non-null    float64
 4   width              164 non-null    float64
 5   height             164 non-null    float64
 6   curb-weight        164 non-null    int64
 7   engine-size        164 non-null    int64
 8   bore               164 non-null    float64
 9   stroke             164 non-null    float64
 10  compression-ratio  164 non-null    float64
 11  horsepower         164 non-null    float64
 12  peak-rpm           164 non-null    float64
 13  city-mpg           164 non-null    int64
 14  0                  164 non-null    float64
 15  1                  164 non-null    float64
 16  2                  164 non-null    float64
 17  3                  164 non-null    float64
 18  4                  164 non-null    float64
 19  5                  164 non-null    float64
 20  6                  164 non-null    float64
 21  7                  164 non-null    float64
 22  8                  164 non-null    float64
 23  9                  164 non-null    float64
 24  10                 164 non-null    float64
 25  11                 164 non-null    float64
 26  12                 164 non-null    float64
 27  13                 164 non-null    float64
 28  14                 164 non-null    float64
 29  15                 164 non-null    float64
 30  16                 164 non-null    float64
 31  17                 164 non-null    float64
 32  18                 164 non-null    float64
 33  19                 164 non-null    float64
 34  20                 164 non-null    float64
 35  21                 164 non-null    float64
 36  22                 164 non-null    float64
 37  23                 164 non-null    float64
 38  24                 164 non-null    float64
 39  25                 164 non-null    float64
 40  26                 164 non-null    float64
 41  27                 164 non-null    float64
 42  28                 164 non-null    float64
 43  29                 164 non-null    float64
 44  30                 164 non-null    float64
 45  31                 164 non-null    float64
 46  32                 164 non-null    float64
 47  33                 164 non-null    float64
 48  34                 164 non-null    float64
 49  35                 164 non-null    float64
 50  36                 164 non-null    float64
 51  37                 164 non-null    float64
 52  38                 164 non-null    float64
 53  39                 164 non-null    float64
 54  40                 164 non-null    float64
 55  41                 164 non-null    float64
 56  42                 164 non-null    float64
 57  43                 164 non-null    float64
 58  44                 164 non-null    float64
 59  45                 164 non-null    float64
 60  46                 164 non-null    float64
 61  47                 164 non-null    float64
 62  48                 164 non-null    float64
 63  49                 164 non-null    float64
 64  50                 164 non-null    float64
dtypes: float64(62), int64(3)
memory usage: 84.6 KB

In [1023]:
from sklearn.svm import SVR

In [1024]:
svm = SVR()
svm.fit(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

SVR()

In [1025]:
print(svm.score(Xtrain,ytrain))
print(svm.score(Xtest,ytest))

-0.1341303123385793
-0.22552612085487755

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [1026]:
from sklearn.ensemble import RandomForestRegressor

In [1027]:
rf = RandomForestRegressor()
rf.fit(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

RandomForestRegressor()

In [1028]:
print(rf.score(Xtrain,ytrain))
print(rf.score(Xtest,ytest))

0.9827207693827935
0.6886500117269856

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [1029]:
ypred = rf.predict(Xtest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [1030]:
from sklearn.metrics import r2_score

In [1031]:
r2_score(ytest,ypred)

0.6886500117269856

In [1032]:
from sklearn.ensemble import GradientBoostingRegressor

In [1033]:
GB = GradientBoostingRegressor(learning_rate= 0.2)
GB.fit(Xtrain,ytrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

GradientBoostingRegressor(learning_rate=0.2)

In [1034]:
print(GB.score(Xtrain,ytrain))
print(GB.score(Xtest,ytest))

0.9976818032481198
0.7197846949708027

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,
/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [1035]:
ypred = GB.predict(Xtest)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [1036]:
from sklearn.metrics import r2_score

In [1037]:
r2_score(ytest,ypred)

0.7197846949708027

In [1038]:
from sklearn.metrics import mean_squared_error

In [1039]:
mean_squared_error(ytest,ypred)

9670357.691968303

In [1040]:
from sklearn.metrics import mean_absolute_error

In [1041]:
mean_absolute_error(ytest, ypred)

2063.2480035945164

Final Model

In [1056]:
#PCA

In [1045]:
from sklearn.decomposition import PCA

In [1046]:
pca = PCA(n_components=15)

In [1048]:
X_pca = pca.fit_transform(Xtrain)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  FutureWarning,

In [1049]:
X_pca

array([[ 1.19652708e+03,  2.84380437e+02,  1.67180063e+00, ...,
        -6.37400479e-01,  4.26205958e-01, -2.00998672e-01],
       [ 2.12797902e+02,  5.57115219e+02, -1.40773504e+01, ...,
         9.80269078e-01, -6.05539618e-01,  4.74315158e-01],
       [-7.53985756e+02, -4.51363535e+01, -6.70456643e-01, ...,
        -1.70198160e-01, -3.83059927e-01, -2.07588255e-01],
       ...,
       [ 1.14938160e+03,  2.55752231e+02,  2.46305673e+01, ...,
        -3.96264746e-01,  7.77610360e-01, -2.42813005e-01],
       [ 4.21035064e+02,  5.69219552e+02,  9.28155009e+00, ...,
         6.01801764e-01, -1.15008223e-01,  4.36663820e-01],
       [ 1.44038256e+02, -3.09652886e+02,  3.23593009e+01, ...,
        -8.08711185e-02,  2.28521669e-03,  8.36451084e-01]])

In [1050]:
type(X_pca)

numpy.ndarray

In [1051]:
X_pca = pd.DataFrame(X_pca, columns = ['pca1','pca2','pca3','pca4','pca5','pca6','pca7','pca8','pca9','pca10','pca11','pca12','pca13','pca14','pca15'])

In [1052]:
X_pca

,pca1,pca2,pca3,pca4,pca5,pca6,pca7,pca8,pca9,pca10,pca11,pca12,pca13,pca14,pca15
0,1196.527080,284.380437,1.671801,7.322956,-27.301505,-6.036438,-2.386011,-3.920819,0.428693,-0.913929,1.238086,-0.315417,-0.637400,0.426206,-0.200999
1,212.797902,557.115219,-14.077350,-7.157760,30.041513,5.349152,-2.184006,-1.043455,0.422498,-1.673729,-0.143326,1.476413,0.980269,-0.605540,0.474315
2,-753.985756,-45.136354,-0.670457,1.158885,-10.436720,4.346942,4.290835,-2.395363,2.824631,-2.144229,-0.109787,-0.355838,-0.170198,-0.383060,-0.207588
3,251.452321,-599.047156,-42.879824,4.730625,3.596877,0.413823,7.560757,3.031163,-5.776843,-1.185886,-0.163719,-0.294472,0.275117,0.428185,0.308123
4,-67.629373,-443.040285,-17.805502,11.688342,4.681011,-4.076802,-1.658508,1.192515,1.352002,-1.319332,-0.295231,1.151394,-1.144910,-0.548286,-0.991419
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
159,-27.966996,-417.814950,9.925505,-6.290511,0.780651,-0.782677,-6.032594,2.714741,0.047629,1.392953,-2.853775,0.126024,0.785857,0.066808,0.165068
160,-789.483178,-67.108977,0.498480,5.072064,-10.032147,2.127958,0.416012,-1.133629,-1.564236,-1.779468,-0.340305,0.077695,-0.067422,-0.462781,-0.054413
161,1149.381603,255.752231,24.630567,5.237112,-25.228226,19.123916,-8.815055,3.768970,2.950002,-0.593362,3.018920,0.344662,-0.396265,0.777610,-0.242813
162,421.035064,569.219552,9.281550,42.883852,-6.823441,-4.612085,0.625699,-0.096119,-0.017890,2.737960,-1.553697,0.157809,0.601802,-0.115008,0.436664
163,144.038256,-309.652886,32.359301,18.711479,3.303597,-5.244777,-0.856773,0.619104,-0.377467,-0.633582,-0.288763,-1.068367,-0.080871,0.002285,0.836451

In [1053]:
A = pca.explained_variance_ratio_
pca.explained_variance_ratio_.sort()
A

array([4.24523468e-07, 5.16805606e-07, 6.01854012e-07, 1.23305249e-06,
       1.68534519e-06, 4.95336772e-06, 8.13504772e-06, 1.20819672e-05,
       3.05772254e-05, 7.11435039e-05, 4.33400485e-04, 1.44645971e-03,
       1.69119366e-03, 3.45772414e-01, 6.50522428e-01])

In [1054]:
pca.explained_variance_ratio_.sum()

0.9999972488960318

In [1055]:
pca.n_components_

15